<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.davidjcox.atlantic-flyway-scraper</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/anaconda3/bin/python3</string>
        <string>/Users/davidjcox/Library/CloudStorage/Dropbox/Miscellaneous/birdcast-data-grabber/scripts/atlantic_flyway_scraper.py</string>
        <string>--test</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/davidjcox/Library/CloudStorage/Dropbox/Miscellaneous/birdcast-data-grabber</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>12</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/davidjcox/Library/CloudStorage/Dropbox/Miscellaneous/birdcast-data-grabber/logs/atlantic_flyway_launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/davidjcox/Library/CloudStorage/Dropbox/Miscellaneous/birdcast-data-grabber/logs/atlantic_flyway_launchd_error.log</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/anaconda3/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
